.projects {
    background-color: #3c4046;
    width: 100%;
    min-height: 47em;
    min-width: 80em;
    height: 105vh;
    font-family: 'Roboto', sans-serif;
}

.projectsComponents {
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10em;
    position: relative;
}

.titleProjects {
    width: 100%;
    text-align: left;
    color: #fcfcfc;
    padding-bottom: 3vh;
    font-family: 'Open Sans', sans-serif;
}

.titleAlignProjects {
    min-width: 92%;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.titleProjects span {
    letter-spacing: 1px;
    font-size: 40px;
}

.projectsWrapper {
    align-items: center;
    display: flex;
}

.projectsCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tileInnerProject {
    height: 17em;
    width: 325px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background: #edeef1;
}

@media only screen and (max-width: 600px) {
    .projects {
      width: 100%;
      min-width: 56.5em;
      min-height: 47em;
      height: calc(var(--vh, 1vh) * 100);
    }
  
  }