.projects {
    background-color: #3c4046;
    width: 100%;
    min-height: 47em;
    min-width: 1400px;
    height: 105vh;
    font-family: 'Roboto', sans-serif;
}

.projectsComponents {
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10em;
    position: relative;
}

.titleProjects {
    width: 100%;
    text-align: left;
    color: #fcfcfc;
    padding-bottom: 3vh;
    font-family: 'Open Sans', sans-serif;
}

.titleAlignProjects {
    min-width: 92%;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.titleProjects span {
    letter-spacing: 1px;
    font-size: 40px;
}

.projectsWrapper {
    align-items: center;
    display: flex;
}

.projectsCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tileInnerProject {
    height: 17em;
    width: 325px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background: #edeef1;
}

@media only screen and (max-width: 812px) {
    .projects {
        min-width: 0;
        height: 100vh;
        min-height: 40em;
    }
    
    .tileInnerProject {
        height: 150px;
        width: 160px;
        margin: 8px;
    }

    .titleProjects span {
        font-size: 24px;
    }
  }

@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
    .tileInnerProject {
        height: 133px;
        width: 133px;
        margin: 8px;
    }

    .projects {
        min-height: 38em;
    }

    .titleProjects {
        padding-left: 2vh;
    }
}      
