.gameContext {
    font-size: 15px;
    position: relative;
    height: 100%;
    border: none;
    width: 100%;
    outline: none;
    overflow: auto;
    display: flex;
    justify-content: center;
    color: black;
    line-height: 25px; 
}

.gameContext h2 {
    padding-top: 30px;
    padding-bottom: 8px;
    font-size: 27px;
}

.gameContext h3 {
    font-size: 17px;
}

.gameInfoWrapper {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    padding: 4vh 3vh;
}

.gameTitle {
    text-align: center;
    font-size: 48px;
}

.lastParagraph {
    padding-bottom: 4vh;
}

.youtubeVideo {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25;
    height: 0;
}

.iFrame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}