.gameContext {
    font-size: 2vh;
    position: relative;
    height: 100%;
    border: none;
    width: 100%;
    outline: none;
    overflow: auto;
    display: flex;
    justify-content: center;
    color: black;
}

.gameInfoWrapper {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    padding: 3vh 3vh;
}

.gameTitle {
    text-align: center;
    font-size: 6vh;
}