.gameContext {
    position: relative;
    height: 100%;
    background-color: purple;
    border: none;
    width: 100%;
    outline: none;
}

.gameInfoWrapper {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}