.resume {
    background-color: #F8F9FE;
    width: 100%;
    min-height: 47em;
    height: 100vh;
}

.resumeComponents {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0 10em; */
  padding: 0 10em;
  position: relative;
}

.resumePage {
  /* padding: 2.5em 3em 2.5em 3em; */
  min-width: calc(50vw);
  max-width: 80vw;
  min-height: 70vh;
  height: 70vh;
  max-height: 85vh;
  overflow: auto;
}
  
.resumePdf {
  width: 100%;
  min-height: 100vh;
}

.resumeWrapper {
  align-items: center;
  display: flex;
}

.resumeCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.resumeDisplay {
  padding-top: 5vh;
}