.about {
    width: 100%;
    min-height: 50em;
    height: 100vh;
    padding-top: 20px;
    background-color: #f2f2f2;
}

.aboutComponents {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 210px;
    position: relative;
}

.title {
    width: 100%;
    text-align: left;
    /* border-bottom: 1px solid rgb(47, 51, 66); */
    /* line-height: 0.1em;
    margin: 10px 0 20px; */
    color: rgb(47, 51, 66);
}

.title span {
    /* background: #F7F7F7; */
    letter-spacing: 1px;
    font-size: 30px;
}

.portrait {
    /* height: 645px; */
    width: 25em;
    /* width: 430px; */
  }
  
.imageDiv {
    padding-left: 50px;
}

.aboutWrapper {
    align-items: center;
    display: flex;
}

.aboutCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titleAlign {
    width: 80%;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {

} 