.about {
    width: 100%;
    min-width: 80em;
    min-height: 47em;
    height: 100vh;
    background-color: #f2f2f2;
}

.aboutComponents {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10em;
    position: relative;
}

.title {
    width: 100%;
    text-align: left;
    /* border-bottom: 1px solid rgb(47, 51, 66); */
    /* line-height: 0.1em;
    margin: 10px 0 20px; */
    color: rgb(47, 51, 66);
}

.title span {
    /* background: #F7F7F7; */
    letter-spacing: 1px;
    font-size: 30px;
}

.portrait {
    /* height: auto;
    width: 40vh; */
    width: 390px;;
    height: auto;
    
}
  
.imageDiv {
    padding-left: 5em;
}

.aboutWrapper {
    align-items: center;
    display: flex;
}

.aboutCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titleAlign {
    min-width: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.aboutText {
    float: left;
    padding-top: 1vh;
    font-size: 13px;
    max-width: 700px;
}

.titleWrapper {
    
    align-items: center;
    display: flex;
}

@media only screen and (max-width: 600px) {

} 

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media screen and (max-width: 480px) {
    .portrait {
        /* height: auto;
        width: 40vh; */
        width: 100px;;
        height: auto;
        
    }
    
    .about {
        width: 100%;
        min-height: 47em;
        height: 100vh;
        background-color: #f2f2f2;
    }
    
}