.projectContext {
    font-size: 15px;
    position: relative;
    height: 100%;
    border: none;
    width: 100%;
    outline: none;
    overflow: auto;
    display: flex;
    justify-content: center;
    color: black;
    line-height: 25px; 
}

.projectContext h2 {
    padding-top: 30px;
    padding-bottom: 8px;
    font-size: 27px;
}

.projectContext h3 {
    font-size: 17px;
}

.projectInfoWrapper {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    padding: 4vh 3vh;
    margin: 20px 20px;
}

.projectTitle {
    text-align: center;
    font-size: 48px;
}

.lastParagraph {
    padding-bottom: 4vh;
}

.youtubeVideo {
    padding-bottom: 56.25%;
    margin-top: 40px;
    margin-bottom: -30px;
}

.iFrame {
    width: 90%;
    height: 90%;
    align-items: center;
}

/* h2 {

    font-weight: normal;
}

h3 {
    
    font-weight: normal;
} */