.games {
    background-color: #F8F9FE;
    width: 100%;
    min-height: 47em;
    min-width: 93em;
    height: 100vh;
}

.gameComponents {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10em;
    position: relative;
}

.gameWrapper {
    align-items: center;
    display: flex;
}

.gameCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titleAlign {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.title {
    margin-bottom: 1em;
}

.tile:hover {
    transform: scale(1.05);
}

.tile {
    transition: transform .2s ease;
}

.tileInner {
    height: 335px;
    width: 375px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    cursor: pointer;
}

.tileTitle {
    font-weight: bold;
    font-size: 20px;
    margin-top: 5px;
    color: #9b9b9b;
}

.tileDescription {
    font-size: 15px;
    margin: 10px;
    bottom: 0;
    color: #848484;
}

.tileImage {
    height: 65%;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin: 13px;
    margin-top: 0;
}

.popup-enter {
    opacity: 0;
    transform: scale(0.9);
}

.popup-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}
.popup-exit {
    opacity: 1;
}
.popup-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}

.gridContainer {
    width: 100%;
    top: 25vh;
    height: 75vh;
}

.gridWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.gridTile {
    display: flex;
    flex-direction: row;
}

.overlayComponent {
    background-color: none;
    outline: none;
    position: absolute;
    /* width: 110vh;
    height: 75%; */
    width: 98vh;
    height: 80%;
    margin-top: 2em;
}

.exitButton {
    font-size: 2.5vh;
    color: green;
    top: 0;
    right: 30px;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    position: absolute;
}