@import url('https://fonts.googleapis.com/css?family=Lato:700|Montserrat:600&display=swap');

.home {
  background-color: #F8F9FE;
  width: 100%;
  min-width: 83em;
  min-height: 47em;
  height: 100vh;
}

.homeComponents {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10em;
  position: relative;
  font-family: 'Lato', sans-serif;
}

.introText {
  text-align: left;
  width: 80%;
  float: left;
  margin: 0;
  color: rgb(47, 51, 66);
  white-space: nowrap;
}

.introText h1 {
  margin: 0;
  padding-top: 70px;
  letter-spacing: 5px;
  font-size: 45px;
}

.introText h2 {
  margin: 0;
  letter-spacing: 5px;
  padding-top: 10px;
  font-size: 70px;
}

.introText h3 {
  margin: 0;
  letter-spacing: 1px;
  font-size: 30px;
}

.scrollImage {  
  position: absolute;  
  height: 50px;
  width: 55px;
}

.scrollButton {
  position: absolute;  
  top: 90%;
  float: right;
  right: 20px;
  height: 20px;
  width: 15px;
  padding-right: 10%;
}

.homeWrapper {
  align-items: center;
  display: flex;
}

.homeCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeAlign {
  min-width: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
}