@import url('https://fonts.googleapis.com/css?family=Lato:700|Montserrat:600&display=swap');

.contact {
    background-color: #f2f2f2;
    width: 100%;
    min-width: 80em;
    min-height: 47em;
    height: 100vh;
}

.contactComponents {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10em;
    position: relative;
}

button {
    padding: 0;
    border: none;
    background: none;
    font-size: 40px;
    color: #ff5c4a;
}

.contactCenter {
    padding-top: 8em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactWrapper {
    align-items: center;
    display: flex;
}

.contactText {
    font-size: 13px;
    padding-top: 5vh;
    float: left;
    text-align: center;
}

.searchTime {
    padding-top: 2vh;
}

.email {
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    padding-top: 5vh;
}

.emailButton {
    cursor: pointer;
}